* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* relative는 원래 자신이 있을 포지션을 기준으로 자리를 정함. 원래의 위치에서 마진을 50px 주고 auto로 정렬한 것으로 보면 된다. */
.slider-wrap {
  width: 1000px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
/* absolute는 부모요소의 안에서 나타난다. 여기서 left:0px을 준 이유는 left:auto 상태에서 left가 -1000이 되는것은 transition 효과가 먹지 않아서
처음에 오른쪽 버튼을 누른 순간(빨간색->주황색) 트랜지션 효과가 먹지 않는다. 그래서 left:0 속성을 넣은 것*/
.slider-wrap ul.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}

/* 원래는 li요소들이 블록요소로 한줄씩 정렬되는데 float:left로 인해 오른쪽으로 쭉 정렬됨 */
.slider-wrap ul.slider li {
  float: left;
  width: 1000px;
  height: 400px;
}
/* 버튼의 부모는 slider-wrap이다. 버튼은 slider-wrap을 기준으로 움직이고 z-index는 가장위에있어야 해서 주는 것.
transition은 아래에서 준 hover속성을 0.1s간격으로 */
.btn {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 50%;
  margin-top: -25px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  user-select: none;
  transition: 0.1s;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* 오른쪽버튼은 50px 밖에 있다가 아래에서 hover로 right 값을 0으로 당겨준다. */
.next {
  right: -50px;
  border-radius: 7px 0px 0px 7px;
  color: white;
}
/* 왼쪽버튼은 50px 왼쪽에 있다가 hover로 당겨줌 */
.previous {
  left: -50px;
  border-radius: 0px 7px 7px 7px;
  color: white;
}

.slider-wrap:hover .next {
  right: 0px;
}

.slider-wrap:hover .previous {
  left: 0px;
}

.indicator-wrap {
  height: 15px;
  position: relative;
  text-align: center;
  min-width: 20px;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
}

.indicator-wrap ul {
  width: 100%;
}

.indicator-wrap ul li {
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.indicator-wrap ul li.active {
  width: 15px;
  height: 15px;
  opacity: 1;
}

.slider-wrap ul {
  transition: 0.4s;
}

.control-wrap {
  top: 350px;
  right: 35px;
  width: auto;
  position: absolute;
}

.control-wrap i {
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.play .fa-play {
  display: none;
}

.play .fa-pause {
  display: block;
}

.pause .fa-play {
  display: block;
}

.pause .fa-pause {
  display: none;
}
